.mainMenu {
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 0;
}
.contentArea {
    max-width: 935px !important;
}

.mainMenu .searchForm {
    max-width: 300px;
    margin: auto;
}

.mainMenu .searchForm .searchInput {
    background: #efefef !important;
    font-weight: 300;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
}
.mainMenu .searchForm .form-control:focus {
    box-shadow: 0 0 0 0 #fff;
}
